.main{
  margin-bottom: 80vh;
}

.container{
  position: relative;
  height: 250vh;
  background-color: rgb(255, 255, 255);
}

.stickyMask{
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  mask-image: url('/medias/images.svg');
  mask-position: 54.55% center;
  mask-repeat: no-repeat;
  mask-size: 80%;
}

.stickyMask Image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imageSize{
  object-fit: cover !important;
}


 

@media screen and (max-width : 768px) {
  .main{
    margin-bottom: 50vh;
  }
  
}